.mod-mini-cart {
    position: relative;
    display: inline-block;
    vertical-align: top;
    &-header {
        display:block;  
        position: relative;
        .ems-cart-info {
            position:relative;
            cursor: pointer;
            display: block;
            padding: 8px 10px;
            @include transition(all 0.2s ease);
             .ems-cart-basket{
                 span {
                     font-size: 15px;
                     position: relative;
                     top: 2px;
                     display: inline-block;
                     vertical-align: middle;
                     letter-spacing: 2px;
                     @include transition(width 0.2s ease);
                     width: 0;
                     overflow: hidden;
                }
                i.icon-ico_mini-cart {
                    display: inline-block;
                    vertical-align: middle;
                    width: 20px;
                    height: 20px;
                    &:before{
                        font-size: 20px;
                        color: $colorDefault;
                        @include transition(all 0.2s ease);
                    }
                }
            }
            .ems-cart-piece {
                position: absolute;
                top: 5px;
                right: 5px;
                background:$red;
                width: 20px;
                height: 20px;
                border-radius: 100%;
                padding: 5px 3px 0 3px;
                text-align: center;
                display: block;
                font-size: 11px;
                color: #ffffff;
                font-family: $fM;
                display: none;
            }
            &:before{
                content:'';
                background:$colorDefault;
                width: 0;
                @include transition(all 0.2s ease);
                height: 2px;
                bottom: 0;
                position: absolute;
                right: 10px;
            }
        }
    }
    &-body  {
        width:415px;
        background:#ffffff;
        position: absolute;
        top: 50px;
        right: 0;
        z-index: 20;
        border-top: 1px solid $borderColor;
        display: none;
        &-wrp{
            padding:0 20px 0 20px;
            overflow: auto;
            max-height: 282px;
        }
        img {
            width:100px;
            display:block;
        }
        .mini-cart-empty {
            span{
            margin: 0;
            padding: 10px;
            background: $red;
            color: #ffffff;
            text-align: center;
            font-size: 12px;
            display: block;
            margin-top: 20px;
            }
            &:empty{
                display: none;
            }
        }
        .ems-col{
            display:inline-block;
            vertical-align: top;
        }
        .mini-cat-row {
            max-height: 320px;
            overflow-y: auto;
            border-bottom:1px solid #f0f0f0;
            padding-bottom: 20px;
            margin-top: 20px;
        }
        .cart-prd-left {
            float: left;
            width: 100px;
            &-img{
                > a{
                    display: block;
                }
            }
        }
        .cart-prd-right {
            position:relative;
            margin-left: 130px;
            min-height: 100px;
            .cart-prd-name {
                > a{
                    display: block;
                    padding: 10px 0 10px 0;
                    max-width: 150px;
                    text-align: left;
                    margin-bottom: 10px;
                    span {
                        font-size:15px;
                        display: block;
                        max-height: 55px;
                        overflow: hidden;
                    }
                }
            }
            .cart-prd-price{
                .ems-col {
                    vertical-align: middle;
                    &.ems-col-1{
                        width: 38%;
                        text-align: left;
                    }
                    &.ems-col-2{
                        width: 60%;
                    }
                }
            }
            .cart-prd-quantity {
                display: inline-block;
                .i-control {
                    a {
                        display: inline-block;
                        i {
                            width:20px;
                            height:20px;
                        }
                        &.plus {
                            i{
                                &:before {
                                    content: "+";
                                    font-family: 'icomoon';
                                    font-size:18px;
                                    color:$colorDefault;
                                }
                            }
                        }
                        &.minus {
                            i{
                                width: 10px;
                                height: 1px;
                                &:before {
                                    content: "";
                                    font-family: 'icomoon';
                                    font-size:12px;
                                    width: 10px;
                                    height: 1px;
                                    display: inline-block;
                                    background:$colorDefault;
                                    position: relative;
                                    top: -5px;
                                }
                            }
                        }
                    }   
                    input {
                        background:transparent;
                        padding: 0;
                        font-size:15px;
                        border:0;
                        width: 50px;
                        height: 30px;
                        text-align: center;
                    }
                }
            }
            .cart-prd-remove {
                position:absolute;
                right: 0;
                top: 10px;
                text-align: center;
                width: 15px;
                height: 15px;
                > a{
                    width: 15px;
                    height: 15px;
                    display: inline-block;
                    i.icon-ico_close{
                        display: inline-block;
                        &:before{
                            font-size: 15px;
                            color: $text;
                        }
                    }
                }
            }
        }
    }
    &-footer{
        &-inner{
            padding: 20px;
        }
        .ems-col {
            display: inline-block;
            vertical-align: middle;
            &.ems-col-1{
                text-align: left;
                width: 30%;
                float: left;
                padding-top: 6px;
                > span{
                    display: block;
                    font-family: $fB;
                }
            }
            &.ems-col-2{
                width: 70%;
                .btn-default{
                    display: block;
                }
            }
        }
        &-ntf{
            p{
                margin: 0;
                text-align: center;
                color: $dRed;
                font-size: 14px;
                margin: 30px 0 10px 0;
            }
        }
    }
}

/*Mini cart opened*/
.mod-mini-cart.opened{
    .mod-mini-cart {
        &-body{
            display: block;
            opacity: 1;
        }
        &-header{
            .ems-cart-info{
                .ems-cart-basket{
                    span{
                        width: auto;
                        overflow: visible;
                        margin-left: 10px;
                    }
                }
                &:before{ width: 85%; }
            }
        }
    }
}

/*Mini cart empty*/
.basket-empty {
    .mod-mini-cart {
        .mod-mini-cart-header{
            .ems-cart-info:after{ display: none; }
        }
        .mod-mini-cart-body { display: none; }
    }
    .vail-cart { display: none; }
}


/*Page cart desktop hidden controller 960px*/
@media screen and (min-width: 960px) {
    .page-cart-layout{
        .site-header .ems-row-1, .site-header .ems-row-3{ display:none; }
        .site-header { min-height:auto; margin:30px 0; border-bottom:1px solid #d8d8d8; padding-bottom: 30px; }
        .site-header-wrapper { border: none; z-index: 14; }
        .site-footer, .campaign-bnr{ display:none; }
    }
}

/*Page cart layout*/
.page-cart {
    .ems-page-default{
        width: 100%;
        &-left{
            width: calc(100% - 375px);
            position: relative;
            z-index: 1;
            float: left;
        }
        &-right{
            width: 375px;
            float: right;
            padding-left: 40px;
        }
        &-title{
            span{
                font-family:$fB;
                font-size:20px;
                letter-spacing:2px;
                padding:20px 0; 
                display: block;
                border-top: 1px solid $borderColor;
                border-bottom: 1px solid $borderColor;
                margin-bottom: 10px;
            }
            &:empty{ display: none; }
        }
        &-cargo{
            span{
                margin-top: 20px;
                display: block;
                background: $dBlue;
                color: #fff;
                text-align: center;
                padding: 15px 20px;
                line-height: 20px;
            }
            &:empty{
                display: none;
            }
        }
        /*Coupon code*/
        .ems-cart-coupon {
            &-header{
                display: none;
                span{
                    font-size: 18px;
                    font-family: $fB;
                }
            }
            .ems-cart-coupon-body {
                .ems-cart-coupon-check{ padding:20px 0; }
                .ems-cart-coupon-use{
                    position: relative;
                    input { width: 100%; max-width: 220px; margin-right: 20px; }
                    input, .btn-default-coupon{ display: inline-block; vertical-align: middle; }
                    .btn-default-coupon{ width:100%; max-width:160px; padding-top:16px; padding-bottom:16px; }
                }
            }
            .ems-message {
                margin-top: 10px;
                margin-bottom: 10px;
                &:empty{
                    display: none;
                }
            }
        }
        .ems-cart-box{
            border: 1px solid $borderColor;
            margin-top: 30px;
            &-inline{
                padding: 20px 30px;
                > span{
                    color: $dRed;
                    line-height: 24px;
                }
            }
            &-select{
                margin: 25px 0;
            }
        }
        .ems-cart-summary {
            border: 1px solid $borderColor;
            background: #fafafa;
            .title {
                display: block;
                padding: 20px 30px;
                font-family: $fB;
                font-size: 20px;
                line-height: 1;
                text-align: left;
                position: relative;
                border-bottom: 1px solid $borderColor;
            }
            &.fixed {
                position: fixed;
                width: 100%;
                max-width:360px;
                top:0;
            }
        }
        .total-table-wrapper{
            padding: 10px 30px;
            ul.total-table{
                li{
                    display: table;
                    width: 100%;
                    .lbl, .obj{
                        display: table-cell;
                        vertical-align: middle;
                        padding: 10px 5px;
                    }
                    .lbl{
                        width: 59%;
                        text-align: left;
                    }
                    .obj{
                        width: 39.5%;
                        text-align: right;
                    }
                    &.total-amount{
                        border-top: 1px solid $borderColor;
                        margin-top: 15px;
                        padding-top: 15px;
                        .lbl, .obj{
                            font-family: $fB;
                        }
                        .lbl{
                            letter-spacing: 2px;
                        }
                        .obj{
                            font-size: 20px;
                        }
                    }
                }
            }
        }
        .ems-cart-button {
            &.obj-step0{
                padding-bottom: 20px;
            }
            &-top{
                padding: 15px 0;
                border-bottom: 1px solid $borderColor;
            }
            &-check-list{
                display: inline-block;
                padding: 15px 0;
                &:first-child{
                    padding-right:60px;
                }
                i.tooltip{
                    display: inline-block;
                    width: 22px;
                    height: 22px;
                    border-radius: 100%;
                    border: 1px solid $colorDefault;
                    text-align: center;
                    cursor:pointer;
                    margin-left: 10px;
                    position: relative;
                    top: -1px;
                    &:before{
                        content: '?';
                        display: inline-block;
                        color: $colorDefault;
                        font-size: 13px;
                        position: relative;
                        top: 1px;
                    }
                }
            }
            &-prev{
                float: left;
                .btn-default {
                    background: none;
                    text-transform: inherit;
                    padding-left: 0;
                    margin-top: 10px;
                    span{
                        color: $colorDefault;
                        font-size: 15px;
                        font-family: $fB;
                    }
                    i{
                        @include transition(margin-right .2s ease);
                        margin-right: 10px;
                        &:before{
                            color: $colorDefault;
                            font-size: 11px;
                        }
                    }
                    &:hover{
                        i{ margin-right: 15px; }
                    }
                }
            }
            &-next{
                float: right;
                .btn-default{
                    margin-top: 30px;
                }
            }
        }
        /**/
    }
    
    /*Empty cart*/
    .no-prd {
        text-align: center;
        margin: 100px auto;
        .icon-bag-close {
            display: inline-block;
            position: relative;
            text-align: center;
            font-size: 100px;
            .ico_close {
                position: absolute;
                top: -10px;
                right: -20px;
                background: $red;
                width: 40px;
                height: 40px;
                border-radius: 100%;
                text-align: center;
                display: block;
                &:before {
                    content:'0';
                    font-size: 30px;
                    font-family: $fM;
                    color: #fff;
                    display: block;
                    padding: 6px;
                }
            }
            .icon-ico_basket{
                &:before{
                    font-size: 80px;
                }
            }
        }
        p {
            font-size: 25px;
            margin: 0;
            padding: 20px 0;
        }
        .g-home {
                font-size: 14px;
                background: $dBlue;
                margin-top: 10px;
                &:hover {
                    background: $lBlue;
                }
            > i {
                font-size: .8em;
                margin-right: 15px;
            }
        }
    }
     /*Cargo info*/
     .ems-row-2{
         background: #fafafa;
        .ems-cargo{
            border: none;
            padding-top: 45px;
        }
     }
    /*visilabs module*/
    .widget-slider-content{
        margin-top: 50px;
        .ems-prd-inner:before, .ems-prd-icons{
            display: none;
        }
        .swiper-header{
            h2{ color:$lines; }
        }
        .ems-prd-add-cart{
            text-align: center;
            .btn-default{
                width: 100%;
                max-width: 185px;
                background: #fff;
                border: 1px solid $borderColor;
                padding-top: 14px;
                padding-bottom: 13px;
                margin-top: 5px;
                &:before{ display: none; }
                span{ color: #6a6b69; }
            }
        }
        .ems-prd-inner:hover{
            .ems-prd-add-cart{
                .btn-default{
                    border-color: $colorDefault;
                }
            }
        }
    }

    /*Order delivery*/
    .ems-page-order-delivery {
        position: relative;

        /*Delivery page cart grid*/
        .ems-grid-cart {
            .ems-grid-header {
                .ems-grid-img span{ display: none; }
                .ems-grid-name span { display: block; text-align: left; padding-left:10px; }
            }
            .ems-grid-row, .ems-grid-header {
                .ems-grid-delete { display: none !important; }
                .ems-grid-price { width: 15%; }
            }
        }

        /*Tab*/
        .ems-tab {
            margin-top: 0;
            .balance-query{
                .btn-link{ padding:15px 0; margin: 20px 0 5px 0; }
            }
            .ems-page-default-title{
                span{ border: none; margin-bottom: 0; }
            }
            /*Vertical*/
            &-vertical {
                .ems-tab-inner{
                    > ul.content-js{
                        > li{
                            margin-bottom: 15px;
                        }
                    }   
                }
            }
            /*horizontal type*/
            &-horizontal {
                .ems-tab-inner{
                    > ul.navigation-js{
                        display: table;
                        margin:10px 0 0 0;
                        > li{
                            > a{
                                padding: 15px 0;
                                border-bottom: 2px solid #fff;
                                &:before{ display: none; }
                                &:hover{
                                    border-color: $colorDefault;
                                }
                            }
                            &.selected{
                                > a {
                                    border-color: $colorDefault;
                                    span{
                                        color: $colorDefault;
                                    }
                                }
                            }
                        }
                    }
                    > ul.content-js{
                        margin-top: 0;
                        > li{
                            display: none;
                            > a{
                                display: none;
                            }
                            .content {
                                .ems-form-content{
                                    border:1px solid $borderColor;
                                }
                            }
                            .ems-form {
                                &-horizontal{
                                    width: 50%;
                                    float: left;
                                    padding: 20px 30px 20px 20px;
                                    .ems-form-inner{
                                        .ems-field {
                                            .ems-form-obj{
                                                width: 100%;
                                                padding-right: 15px;
                                            }
                                            &-triple{
                                                .ems-form-obj{
                                                    float: left;
                                                    width: calc(100% / 3);
                                                }
                                            }
                                        }
                                        .inline-text { display:block; font-size:13px; font-family:$fB; padding:10px; }
                                    }
                                }
                            }
                            .ems-inst-opt{
                                width: 50%;
                                float: left;
                                padding: 20px;
                                position: relative;
                                min-height:265px;
                                &:before{
                                    content: '';
                                    width: 1px;
                                    height: 100%;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    background: $vlightBg;
                                }
                                &-wrp{
                                    > span{
                                        letter-spacing: 2px;
                                        font-family: $fB;
                                        padding-bottom:20px;
                                        display:block;
                                    }
                                    > ul{
                                        margin: 0;
                                        .title, .line{
                                            font-family: $fB;
                                            width: 100%;
                                            display: table;
                                            padding: 10px 0;
                                            > span{
                                                display: table-cell;
                                                vertical-align: top;
                                                width: 33.333%;
                                                line-height: 22px;
                                            }
                                            span.obj{ text-align: center; }
                                        }
                                        .line{
                                            > span{
                                                font-family: $fD;
                                                span{
                                                    font-family: $fD;
                                                }
                                                span.rStyler{
                                                    top:0;
                                                    display: inline-block;
                                                    float: inherit;
                                                    vertical-align: middle;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .ems-gift-cart{
                                width: 100%;
                                display: table;
                                padding-top: 30px;
                                .ems-form, .ems-3d-secure{
                                    display: table-cell;
                                    vertical-align: middle;
                                    width: 50%;
                                }
                                .ems-form{
                                    &-horizontal{
                                        width: 50%;
                                        float: inherit;
                                        margin-top: 30px;
                                        padding: 0;
                                        border: none;
                                        min-height:auto;
                                        .ems-field {
                                            &-check{
                                                i.tooltip{
                                                    position: static;
                                                    top: inherit;
                                                    right: inherit;
                                                    display: inline-block;
                                                    vertical-align: top;
                                                    margin-left: 10px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            /*li selected*/
                            &.selected{
                                display: block;
                            }
                        }
                    }
                }
            }
            /*Sales form*/
            .ems-contracts{
                &-form{
                    .ems-contracts-form-inner{
                        .ems-contracts-form-wrapper{
                            > h1{
                                font-family: $fB;
                                letter-spacing: inherit;
                                font-size: 15px;
                            }
                        }   
                    }
                }
                &-title{
                    font-family: $fB;
                    letter-spacing: 2px;
                    font-size: 15px;
                    display: block;
                    padding-bottom:15px;
                    padding-top:25px;
                }
                &-form-inner{
                    padding: 20px;
                    background:#fafafa;
                }
                &-form-wrapper{
                    padding: 10px 20px 10px 0;
                    max-height: 200px;
                    overflow-y: auto;
                    p{
                        line-height:25px;
                    }
                }
                &-form-check{
                    padding: 20px 0;
                }
                &-form-payment{
                    text-align: right;
                    .btn-default {
                        min-width: 275px;
                        margin: 10px 0;
                    }
                }
            }
        }
        .ems-cart-pay-adress {
            margin-top: 35px;
            margin-bottom: 10px;
            .left, .right {
                display: inline-block;
                width: 49%;
                vertical-align: top;
            }
        }
        .ems-delivery-address {
            &-lbl{
                font-family: $fB;
                font-size: 15px;
                color: $colorDefault;
                padding-bottom: 20px;
            }
            &-obj{
                h1{
                    font-family: $fB;
                    font-size: 15px;
                    padding-bottom: 15px;    
                }
                min-height: 120px;
                max-height: 120px;
                overflow: hidden;
                color: $colorDefault;
                font-size: 15px;
                padding:20px;
                border: 1px solid $borderColor;
                span{
                    line-height: 20px;
                }
            }
        }
        .ems-form {
            &-horizontal{
                .ems-form-inner{
                    .ems-field{
                        input, select, textarea{
                            background: #fff;
                            border:1px solid $borderColor;
                        }
                        textarea{
                            height: 100px;
                            resize: none;
                        }
                        &-left, &-right{
                            width: 50%;
                            float: left;
                            padding-right: 30px;
                        }
                        &-full{
                            .ems-form-obj{
                                width: 100%;
                                padding-right: 30px;
                            }
                        }
                        &-check{
                            border-top: 1px solid $borderColor;
                            padding-top: 20px;
                            padding-bottom: 30px;
                            margin: 0;
                            .ems-form-obj:first-child{
                                padding-right: 25px;
                            }
                            .address-type-title { padding-bottom: 10px; }
                        }
                        &-invoice-type{
                            margin-bottom: 30px;
                            margin-top: 10px;
                            .ems-form-obj{
                                padding-right: 30px;
                                &-full{ padding-right:0; }
                            }
                        }
                        &-gift-type{
                            display: table;
                            .ems-field-right, .ems-field-left{
                                display:table-cell;
                                vertical-align:bottom;
                                float:inherit;
                            }
                            .ems-field-right{
                                padding-right: 0;
                                .ems-form-cotinue{
                                    text-align: right;
                                    .btn-default {
                                        width: 100%;
                                        max-width: 275px;
                                        top: -5px;
                                    }
                                }
                            }
                            .ems-form-obj{
                                &:first-child{
                                    padding-right: 0;
                                } 
                            }
                        }
                        &.address-result{
                            .sStylerMainWrp  { max-width: 375px; }
                            .ems-form-obj, .ems-form-text{
                                width: 100%;
                            }
                            .ems-form-obj{
                                select{ max-width: 375px; }
                            }
                            .ems-form-text{
                                padding-top: 20px;
                                max-width: 350px;
                                >*{
                                    display: inline-block;
                                    max-width: 500px;
                                    line-height: 25px;
                                }
                            }
                            .address-update{
                                a{
                                    display: inline-block;
                                    color: #314181;
                                    text-decoration: underline;
                                    padding: 10px 0;
                                }
                            }
                        }
                        &.address-type{
                            border-top: none;
                            .ems-form-obj{ padding-right:30px; line-height:22px; }
                            &.address-type-1{ padding-top:25px; padding-bottom:15px; }
                        }
                        .ems-form-obj{
                            position: relative;
                            i.tooltip{
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    width: 22px;
                                    height: 22px;
                                    border-radius: 100%;
                                    border: 1px solid $colorDefault;
                                    text-align: center;
                                    cursor:pointer;
                                    line-height: 1;
                                    &:before{
                                        content: '?';
                                        display: inline-block;
                                        color: $colorDefault;
                                        font-size: 13px;
                                        position: relative;
                                        top: 3px;
                                    }
                                }
                            &-full{
                                width: 100%;
                                input{ max-width: 375px; margin-top: 20px; }
                            }
                            &-interval{
                                padding-right: 0;
                                margin-bottom: 20px;
                            }
                        }
                    }
                    .address-holder-double{
                        display: table;
                        width: 100%;
                        padding-bottom: 20px;
                        .ems-field {
                            display: table-cell;
                            width: 50%;
                            vertical-align: top;
                        }
                    }
                    .ems-page-default-title{
                        span{
                            font-size: 15px;
                            border: none;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
    
    /*Cart order result*/
    .ems-page-order-result {
        .ems-row-1{
            padding-top:30px;
        }
        .order-result {
            max-width: 640px;
            margin: 0 auto;
            font-family: $fD;
            font-size: 18px;
            text-align: center;
            padding: 0 20px;
            p {
                margin: 0;
                font-size: 15px;
                line-height: 24px;
                b{
                    font-size: 15px;
                }
                span{
                    font-size: 15px;
                }
            }
            .color-1 {
                font-family: $fB;
            }
            .color-2 {
                font-family: $fD;
            }
            .fsize-20 {
                font-size: 20px;
                font-family: $fB;
                letter-spacing: 2.5px;
                padding:10px 0;
            }
            &-error{
                i.order-error{
                    background: $red;
                    &:before{
                        font-size: 40px;
                    }
                }
                &:empty{ display: none; }
            }
            &-warning{
                i.order-warning{
                    background: $gold;
                    &:before{
                        content: '!';
                        font-size: 60px;
                        color: #fff;
                    }
                }
                &:empty{ display: none; }
            }
            &-success{
                i.order-success{
                    background: $green;
                    &:before{
                        font-size: 50px;
                    }
                }
                &:empty{ display: none; }
            }
            &-content{
                padding: 30px 0;
            }
            i.order-success, i.order-error, i.order-warning{
                display: inline-block;
                width: 90px;
                height: 90px;
                line-height: 90px;
                border-radius: 100%;
                text-align: center;
                &:before {
                    color: #fff;
                }
            }
            .bottom-step{                
                max-width: 590px;
                width: 100%;
                margin: 0 auto;
                .prev, .next{
                    width: 49%;
                    display: inline-block;
                    vertical-align: top;
                    padding: 0 10px;
                    .btn-default{
                        width: 100%;
                        margin-top: 30px;
                        &-homepage{
                            background: none;
                            border:1px solid #979797;
                            span{
                                color: $colorDefault;
                            }
                            &:hover{
                                background: $colorDefault;
                                span{
                                    color: #fff;
                                }
                            }
                        }
                        &-orders{
                            background: $colorDefault;
                            border:1px solid transparent;
                            &:hover{
                                background: none;
                                border:1px solid #979797;
                                span{
                                    color: $colorDefault;
                                }
                            }
                        }
                    }
                }
            }
        }
        .widget-slider-content{
            max-width: 1270px;
            border-top: 1px solid $borderColor;
            .swiper-header{ padding-top: 50px; padding-bottom: 50px; }
        }
    }
}

/*Mobile 1100px*/
@media screen and (max-width: 1100px) {
    .page-cart{
        .ems-page-order-delivery{
            .ems-tab-horizontal{
                .ems-tab-inner{
                    > ul.content-js{
                        > li{
                            .ems-form-horizontal, .ems-inst-opt{ width: 100%; float: none; }
                            .ems-form-horizontal{ padding: 20px 10px 20px 10px; }
                            .ems-form-horizontal .ems-form-inner .ems-field .ems-form-obj { padding: 0 10px; }
                            .ems-inst-opt{
                                padding-top: 5px;
                                min-height: auto;
                                &:before{ display: none; }
                            }
                        }
                    }
                }
            }
            .ems-form-horizontal{
                .ems-form-inner{
                    .address-holder-double{
                        .ems-field {
                            width: 100%;
                            display: block;
                        }
                        .ems-field.address-result{
                             .sStylerMainWrp, .ems-form-text{ max-width: 100%; }
                             .ems-form-obj select{ max-width: 100%; }
                        }
                    }
                }
            }
        }
    }
}


/*Cart page desktop header reset fixed animate 960px*/
@media screen and (min-width: $breakpointSM) {
    .page-cart-layout{
        .site-header.fixed-header {
            .site-header-wrapper {position: inherit; top: inherit; }
        }
    }
}

/*Mobile 960px*/
@media screen and (max-width: $breakpointSM) {
    .mod-mini-cart{ display: none; }

    /*mobile cart pages*/
    .page-cart-layout {
        .campaign-bnr,
        .site-footer,
        .ems-cargo,
        .mobile-element-bottom-menu { display: none; }
    }

    /*Page cart layout*/
    .page-cart {
        .ems-container {
            max-width: 100%;
            padding: 0 0 60px 0;
        }
        /*Cart delivery page*/
        &.step1 {
            .ems-page-default{
                &-left{ padding: 0; }
                &-left, &-right{ float: none;}
            } 
            .ems-grid-default { margin: 0 20px; }
        }
        /*Cart last page*/
        &.step2 {
            .widget-slider-content{ display: none; }
        }
        /*Cart page widget slider*/
        .widget-slider-content{
            margin-top: 0;
        }
        .ems-page-default{
            &-left, &-right{ float: none;}
            &-left, &-right{ width: 100%; }
            &-left { padding: 0 20px; }
            &-right{ padding:0; } 
            &-title{
                span{ border-top:0; border-bottom:0; margin: 0; }
            }
            &-cargo{
                span{ margin-top: 0; }
            }
             .ems-cart-summary{
                 border-left: 0; border-right: 0;
                 .title { display: none; }
             }
             .total-table-wrapper{
                 ul.total-table{
                     li.total-amount .lbl{ font-size: 20px; }
                 }
             }
             .ems-cart-button {
                float: none;
                &-top{
                     border-bottom: none;
                     border-top:1px solid $borderColor;    
                }
                &-check-list{
                    padding: 5px 0;
                    &:first-child{ padding-right: 20px; }
                }
                &-prev{
                    .btn-default{ font-size: 15px; }
                 }
                 &-next{
                    position: fixed;
                    bottom: -100%;
                    width: 100%;
                    height: 60px;
                    left: 0;
                    z-index: 16;
                    @include transition(bottom .2s ease);
                    will-change: bottom;
                    .btn-default{
                        margin: 0;
                        width: 100%;
                        padding-top: 20px;
                        padding-bottom: 19px;
                    }
                 }
             }
             /*Coupon code*/
            .ems-cart-coupon {
                .ems-cart-coupon-body {
                    padding: 0 20px 20px;
                    .ems-cart-coupon-use{
                        input{ margin-right:1%; }
                        input, .btn-default-coupon{ width:49%; max-width:49%; }
                    }
                }
            }
        }
        /*Page delivery page layout*/
        .ems-page-order-delivery{
            
            /*Delivery page cart grid*/
            .ems-grid-cart {
                .ems-grid-row {
                    .ems-grid-price { width: 37.5%; }
                }
            }

            /*Tab*/
            .ems-tab-vertical{
                .ems-tab-inner{
                    > ul.content-js{
                        > li{
                            margin-bottom: 0;
                            margin-top:2px;
                            > a{
                                span{ color:$lines; }
                            }
                            .content{ position: relative; z-index: 2; }
                        }
                        > li:first-child{ margin-top:0; }
                    }
                }
            }
            .ems-form .ems-form-inner{
                .ems-field-gift-type .ems-field-right{
                    position: fixed;
                    bottom: 0;
                    width: 100%;
                    height: 60px;
                    left: 0;
                    z-index: 16;
                    .ems-form-cotinue{
                        text-align: center;
                        .btn-default{
                            top: inherit;
                            margin: 0;
                            width: 100%;
                            max-width: 100%;
                            padding-top: 22px;
                            padding-bottom: 20px;
                        }
                    }
                }
                .ems-field{
                    &.address-type{
                        padding: 20px;
                    }
                    &-delivery{
                        padding:0 20px;
                        margin-bottom: 0;
                    }
                    &-gift-type{
                        padding-left: 20px;
                        padding-right: 20px;
                        border: none;
                        .ems-field-left,
                        .ems-field-right{ display: block; padding: 0; vertical-align: inherit; width: 100%; }
                        .ems-field-left{ border-top:1px solid $borderColor; padding-top: 20px; }
                    }
                    &.address-result{
                        padding:0 20px;
                        .sStylerMainWrp { max-width: 100%; }
                        .ems-form-obj select{ max-width: 100%; }
                    }
                    &-check-1{
                        border: none;
                        padding: 0 20px;
                        .address-type-title { border-top:1px solid $borderColor; padding-top: 10px;  }
                    }
                }
            }
            .ems-tab{
                &-horizontal{
                    .ems-tab-inner{
                        > ul.navigation-js { display: none; }
                        > ul.content-js{
                            margin-bottom: 0;
                            > li{
                                margin: 0;
                                display:block;
                                border-top:1px solid $borderColor;
                                > a{
                                    display: block;
                                    background: #f0f0f0;
                                    text-align: center;
                                    span{
                                        color: $lines;
                                        font-size: 15px;
                                    }
                                    &:before{ display: none; }
                                }
                                .content{
                                    height: 0;
                                    visibility: hidden;
                                    opacity: 0;
                                    .ems-form-content{ border: none; }
                                    .ems-form-horizontal{ padding-top:0; padding-bottom:0; }
                                }
                            }
                            
                            > li.selected{
                                border: none;
                                > a{
                                    background: #fff;
                                }
                                .content{
                                    height: auto;
                                    visibility: visible;
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
                .balance-query {
                    padding:0 20px;
                    .btn-link{ margin: 15px 0; }
                }
                .ems-page-default{
                    &-title span{ padding:20px 0; margin: 0 20px;  font-size:15px; color:$lines; border-top:1px solid $borderColor; }
                }
                .ems-contracts-form-payment{
                    position: fixed;
                    width: 100%;
                    height: 60px;
                    bottom: 0;
                    left: 0;
                    text-align: center;
                    z-index: 16;
                    .btn-default {
                        margin-top: 0;
                        width: 100%;
                        margin-bottom: 0;
                        max-width: 100%;
                        padding-top: 21px;
                        padding-bottom: 21px;
                    }
                }
                .ems-contracts{
                    &-title{ padding:30px 20px 20px 20px; }
                    &-form-check{ padding:30px 20px; }
                }
            }
            .ems-cart-pay-adress {
                margin: 0;
                padding: 0 20px;
                .left { border-top:1px solid $borderColor; }
                .left, .right {
                    width: 100%;
                }
                .ems-delivery-address {
                    &-lbl{ font-family:$fD; letter-spacing: 1px; padding-top: 20px; }
                    &-obj{ min-height: auto; max-height: inherit; }
                }
            }
            .ems-form-horizontal{
                .ems-form-inner{
                    .address-holder-double{
                        .ems-field.address-result:last-child{ margin-bottom: 10px; }
                    }
                }
            }
        }
        /*Cart last page*/
        .ems-page-order-result{
            .order-result{
                &-content{ padding-left: 20px; padding-right: 20px; }
                padding:50px 0 60px 0;
                .bottom-step {
                .prev { display: none; }
                .next{
                    padding: 0;
                    width: 100%;
                    position: fixed;
                    bottom: 0;
                    left: 0;
                    height: 60px;
                    z-index: 16;
                    .btn-default{ margin: 0; border: none; padding-top:20px; padding-bottom:19px; }
                    .btn-default:hover{
                        border: none;
                        background: $colorDefault;
                        span{ color: #fff; }
                        }
                    }
                }
                .fsize-20{ font-size: 24px; color: $lines; letter-spacing:2px; }
            }
        }
    }
    /*Page cart scroll animate cart botton top effect*/
    body.header-fixed-animate{
        .page-cart {
            .ems-page-default{
                .ems-cart-button {
                    &-next{ bottom: 0; }
                }
            }
        }
    }

}