
.mod-mini-login {
    display:inline-block;
    vertical-align: top;
    .btn-signin {
        display: block;
        padding: 8px 10px;
        display: none;
        i {
            font-style: normal;
            display: inline-block;
            vertical-align: middle;
            width: 20px;
            height: 20px;
            text-align: center;
        }
        i:before {
            font-size: 20px;
            color: $colorDefault;
            @include transition(all 0.2s ease);
        }
        span {
            @include transition(all 0.2s ease);
            display: none;
        }
    }
    .btn-member{
        display: block;
        padding: 8px 10px;
        i {
            font-style: normal;
            display: inline-block;
            vertical-align: middle;
            width: 20px;
            height: 20px;
            text-align: center;
        }
        i:before {
            font-size: 20px;
            color: $colorDefault;
            @include transition(all 0.2s ease);
        }
        span {
            @include transition(all 0.2s ease);
            display: none;
        }
    }

    .sub .ems-form {display: none;}
    .mod-mini-login-body .sub.login,
    .mod-mini-login-footer {
        display: none;
    }
    .sub .ems-form {
        position: absolute;
        top: 60px;
        left: -110px;
        width: 335px;
        background: #ffffff;
        border-radius: 3px;
        @include transition(all 0.2s ease);
        &-inner{
            padding: 20px;
            .ems-field {
                margin-bottom: 10px;
                &.submit {
                    margin-bottom: 0;
                    .uyeGirisFacebookConnectKutu{
                        border-top: 1px solid $borderColor;
                        padding-top: 20px;
                    }
                }
                &-double{
                    text-align: right;
                    padding-top: 10px;
                    margin-bottom: 20px;
                }
                a.btnKutuLogin {
                    width: 125px;
                    text-align: center;
                }
                a#lnkSifremiUnuttum {
                    float: left;
                    line-height: 50px;
                    span{ font-size: 12px; font-family: $fM; color: $text; text-decoration: underline; }
                }
                a.btnFacebookLoginKutu { width: 100%; }
            }
        }
    }
    .mod-mini-login-header {
        position:relative;
        cursor: pointer;
        span {
            font-size: 14px; 
            font-family: $fontSite;
        }
    }
    .mod-mini-login-body {
        position:relative;
        .sub.login {
            position: absolute;
            z-index: 2;
            width:220px;
            top: 10px;
            left: 0;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 0 3px 3px 3px;
            @include transition(all 0.2s ease);
            span { font-size:14px; color: $title; @include transition(all .2s ease); }
            & .btnKutuLogout {
                text-align: left;
                background: none;
                padding: 0;
                span { color: $red; }
            }
            a {
                &:hover span {
                    color: $text; 
                }
            }
        }
        .ems-col {
            margin-bottom:15px;
            &.title {
                display: none;
                span {
                    margin-bottom: 20px;
                    padding-bottom: 20px;
                    border-bottom: 1px solid $borderColor;
                    display: block;
                    font-family: $fD;
                    font-size: 14px;
                }
            }
        }
    }   
}

.mod-mini-fav{
    display: inline-block;
    vertical-align: top;
    > a {
        display: block;
        padding: 9px 10px 8px 10px;
        i.icon-ico_hearth{
            width: 20px;
            height: 20px;
            display: block;
            &:before{
                font-size: 20px;
                color: $colorDefault;
                @include transition(all 0.2s ease);
            }
        }
    }
}

/*login sayfa*/
.page-login {
    display: table;
    width: 100%;
    .ems-right {
        display: table-cell;
        vertical-align: top;
        width: 50%;
        max-width: 565px;
        text-align: left;
        background: #fbfbfb;
        padding: 35px 0 30px 40px;
    }
    &-inline{
        background:url(#{$baseHref + "/lab/projects/yargici/upload/banners/page-cover/login-cover.jpg"}) no-repeat;
        background-size: cover;
        background-position: top left;
    } 
    .ems-login, .ems-signup {
        &-header {
            font-family: $fB;
            font-size: 18px;
            padding: 0 0 20px 0;
            letter-spacing: 2px;
        }
        &-desc{
            span{
                display: inline-block;
                padding-bottom: 15px;
            }
        }
        .ems-form-left, .ems-form-right {
            width: 50%;
            display: inline-block;
            vertical-align: top;
            text-align: left;
        }
        .ems-message  { margin-bottom: 20px; }
        
        .ems-form-inner {
            .ems-field { 
                max-width: 375px;
                input{ background: #fbfbfb; border: 1px solid $borderColor; }
                &-check{ 
                    .ems-form-obj {
                        span.check-text { font-size:15px; line-height:20px; }
                        b{ font-weight: normal; }
                    }
                }
                &.remember{
                    text-align: left;
                    font-size: 12px;
                }
                &.submit{
                    a.btn-default{
                        margin-top: 20px;
                        background: $colorDefault;
                        &:hover{
                            background: $lines;
                        }
                        span{ color: #fff; }
                    }
                }
                &.ems-field-fb{
                    padding-top:40px;
                    border-top:1px solid $borderColor;
                    .btn-default{
                        background: #304b92;
                        i.icon-ico_fb{ float: left; }
                        i.icon-ico_fb, i.icon-ico_fb:before{ font-size: 20px; }
                    }
                }
                &.ems-field-link{
                    .btn-default { background: none; }
                    span{ text-decoration: underline; }
                }
                &.submit, &.login-control, &.full{
                    a.btn-default{
                        width: 100%;
                        b{
                            text-decoration: underline;
                            padding-left: 5px;
                            font-weight: normal;
                        }
                    }
                }
                a.btn-default-member{
                    background: none;
                    span{
                        font-size: 15px;
                        color: $colorDefault;
                        font-family: $fD;
                        text-transform: initial;
                    }
                    b{
                        font-size: 15px;
                        text-decoration: underline;
                        padding-left: 5px;
                        font-weight: normal;
                        color: $colorDefault;
                        font-family: $fB;
                        text-transform: initial;
                    }
                    &:hover{background: none; }
                }
                &.login-control{
                    .btn-default:hover { background: none; }
                }
            }
            .ems-field.mobile-phone{
                .ems-form-label{
                    left: 90px;
                }
                &.is-completed{
                    .ems-form-label{
                        left: 82px;
                    }    
                }
            }
        }
    }
        
    /*New member*/
    .ems-login, .ems-signup{
        display: inline-block;
        width: 100%;
        max-width: 375px;
    }
    .ems-signup {
        display: none;
    }
    .ems-login {
        display: inline-block;
    }
}

/*Login enter control*/
body.member-login-ready {
    .ems-login {
        display: none;
    }
    .ems-signup {
        display: inline-block;
    }
}

/*Page Member*/
.page-member {

    /*Member Mobile title*/
    .page-top-title {
        display: none;
        span{
            display: block;
            padding: 25px 20px 10px 20px;;
            font-family:$fB; 
            letter-spacing:1.5px;
            font-size:20px;
        }
    }
    /*layout*/
    .ems-row-1 {
        display: table;
        width: 100%;
        .ems-col {
            display: table-cell;
            vertical-align: top;
            &.ems-col-1{
                width: 210px;
            }
            &.ems-col-2{
                width:calc(100% - 210px);
            }
        }
    }
    .ems-page-default {
        padding:0 0 50px 50px;
        /*Form*/
        .ems-form {
            &-inner{
                .ems-field {
                    .ems-form-obj{
                        width: 100%;
                        max-width: 375px;
                    }
                    &.check-list{
                        padding: 10px 0;
                    }
                    &.submit{
                        .btn-default{
                            width: 100%;
                            background: $colorDefault;
                        }
                    }
                }
            }
        }
        .page-left-padding{
            padding-left: 20px;
        }
    }

    /*Address Info*/
    .ems-page-member-address {
        .ems-grid-address .ems-grid-row .col-1{
            width: 70%;
            .ems-address-name{
                font-family: $fB;
                font-size: 15px;
                padding-bottom: 20px;
            }
            .ems-address{
                font-family: $fD;
                font-size: 15px;
                line-height: 25px;
            }
        }
        .ems-grid-address .ems-grid-row .col-2 {
            border-right-width: 0;
            text-align: right;
            width: 30%;
            > div {
                width: 100%;
            }
            .ems-address-buttons {
                text-align: right;
                .btn-default {
                    width: auto;
                    display: inline-block;
                    vertical-align: top;
                    text-align: center;
                    background: none;
                    font-size: 15px;
                    color: $colorDefault;
                    font-family: $fB;
                    &-delete{
                        color: $red;
                    }
                }
            }
        }
        .add-new-address {
            .btn-default {
                font-size: 15px;
                background: none;
                padding-left: 0;
                margin: 10px 0;
                span {
                    color: $colorDefault;
                    font-size: 15px;
                    text-decoration: underline;
                    font-family: $fD;
                    letter-spacing: inherit;
                    z-index: inherit;
                    &:before {
                        display: inline-block;
                        content: '+';
                        font-size: 15px;
                        color: $colorDefault;
                        margin-right: 3px;
                    }
                }
            }
        }
    }

    /*Order lists*/
    .ems-page-member-order {
        .order-filter {
            margin-bottom: 40px;
            display: inline-block;
            width: 100%;
            &-select{
                float: left;   
                width: calc(62% - 190px);
                margin-right: 2%;
                .sStylerMainWrp.sStylerWrp_select{
                    .sStylerWrp{ font-family: $fB; }
                }
            }
            &-button{
                float: left;
                width: 30%;
                max-width: 190px;
                a.btn-default {
                    width: 100%;
                    line-height: 1;
                    background: $colorDefault;
                }
            }
        }
    }

    /*Order detail*/
    .ems-page-member-order-detail {
        .order-detail-info {
            padding-bottom: 20px;
            padding-top: 20px;
            > div {
                float: left;
                width: 50%;
                > div {
                    float: left;
                    width: 50%;
                    padding: 10px 10px 10px 0;
                    font-size: 15px;
                    word-break: break-word;
                    &.text{
                        font-family: $fB;
                    }
                    &:empty {
                        &:before {
                            content: "-";
                        }
                    }
                }
            }
        }
        .order-address {
            width: 46%;
            margin-top: 20px;
            &-delivery{
                float: left;
            }
            &-billing{
                float: right;
            }
            .content{
                display: block;
                border: 1px solid $borderColor;
                padding: 20px;
            }
            .title{
                padding-bottom: 20px;
                span{ font-family: $fB; font-size: 18px; letter-spacing: 2px; }
            }
            .text {
                font-family: $fB;
                margin-bottom: 15px;
            }
            .value {
                span{ line-height: 25px; max-height: 45px; overflow: hidden; }
            }
        }
    }
    /*İadelerim son sayfa*/
    .ems-page-member-return-last{
        .page-left-padding{ padding-top: 40px; }
    }
    /*İadelerim detay sayfası*/
    .ems-page-member-return-detail{
        padding-bottom: 80px;
        .page-sip-desc{
            .page-sip-info, .page-title-sipInfo{                
                display: inline-block;
                vertical-align: middle;
                margin: 30px 0;
                padding-top: 5px;
                min-height: 75px;
                > span{
                    display: block;
                    line-height: 25px;
                    a{ text-decoration: underline; }
                }
            }
            .page-sip-info{
                padding-right: 20px;
                width: 55%;
            }
            .page-title-sipInfo{
                width: 44%;
                padding-left: 30px;
                border-left:1px solid $borderColor; 
                > span{
                    b{ font-family:$fB; font-weight:normal; font-size:15px; color:$colorDefault; }
                    span.id{ font-family:$fD; font-size:15px; color:$colorDefault; }
                }
            }
        }
        .ems-giving-back{
            border:1px solid $borderColor;
            padding-bottom: 50px;
            &-row{
                padding: 20px;
            }
            &-row-1, &-row-2{ border-bottom:1px solid $borderColor; }
            &-row-2, &-row-3{ padding-left: 120px; }
            
            &-list{
                padding-bottom: 30px;
                .ems-giving-back-content {padding-top: 30px; }
                .ems-giving-back-row-2 { border-bottom:none; }
                .ems-giving-back-selection{
                    float: left;
                    width: calc(100% - 100px);
                }
            }
            &-prdImg{
                float: left;
                width: 100px;
                a{
                    display: block;
                    img{ max-width: 100px; }
                }
            }
            &-selection{
                max-width: 375px;
                padding-bottom: 25px;
            }
            &-line{
                display: block;
                padding-bottom: 5px;
            }
            &-desc{
                padding-bottom: 20px;
                textarea { height: 100px; resize: none; }
            }
            &-content{
                float: left;
                width: calc(100% - 100px);
            }
            &-address{
                .ems-giving-back-line{
                    .ems-fnt-bld{
                        display: inline-block;
                        &:first-child{
                            width: 110px;
                        }
                    }
                }
            }
            .bld-title{ font-family:$fB; display:block; padding-bottom:15px; }
            .bld-title.red{ color:#61080f; }
        }
        .ems-giving-back-btns{
            .btn-default{
                margin-top: 30px;
                &-back{
                    min-width: 110px;
                    padding-top:16px;
                    padding-bottom:16px;
                    padding-left: 0;
                    float: left;
                    text-transform: inherit;
                    font-size: 15px;
                    background: none;
                    span{
                        text-transform: inherit;
                        color: $colorDefault;
                        font-size: 15px;
                    }
                    &:hover{background: none; }
                    .icon-ico_slide-left{
                        font-size: 11px;
                        margin-right: 10px;
                        &:before{ font-size: 11px; color:$colorDefault; }
                    }
                }
                &-continue{
                    min-width: 275px;
                    float: right;
                }
            }
            .ems-giving-check{
                width: 100%;
                padding: 20px 10px 0 0;
                .object, .text{ display: inline-block; vertical-align: middle; }
                .object{ width: 20px; margin-right: 10px; }
                .text{ width: 90%; }
                span.cStyler { width: 20px; height:20px; margin: 0;  }
            }
        }
        /*Product return grid*/
        .ems-grid-return-list{
            width: 100%;
            &-row{
                width: 100%;
                display: table;
                table-layout: fixed;
                border-width: 0 1px 1px 1px;
                border-style: solid;
                border-color: $borderColor;
                &:first-child{ border-top-width: 1px; }
            }
            &-column{
                padding: 10px;
                display: inline-block;
                vertical-align: middle;
            }
            &-column-1{
                width: 40%;
            }
            &-column-2{
                width: 60%;
                border-left: 1px solid  $borderColor;
            }
            &-items{
                display: inline-block;
                vertical-align: middle;
                padding: 10px;
                .prd-name, .brand-name{ display: block; }
                .brand-name{
                    padding-top: 5px;
                    font-family:$fB;
                    small{ font-size: 15px; }
                }
               span.cStyler{ width: 20px; height: 20px; } 
            }
            &-items-1{ width: 13%; text-align: center; }
            &-items-2{ width: 20%; padding: 0; }
            &-items-3{ width: 62%; padding-top: 0; padding-right: 0; }
            &-items-full{
                width: 100%;
                .ems-fnt-bld, .dropdown{ display: inline-block; vertical-align: middle; }
                .ems-fnt-bld{ width: 35%; }
                .dropdown{ width: 64%; }
                &:first-child{ padding-bottom: 0; }
            }
        }
        .dropdown{
            position: relative;
            .trigger{
                cursor:pointer;
                display: block;
                position: relative;
                color: #6a6b69;
                .icon-ico_arrow1{
                    position: absolute;
                    top: 50%;
                    right: 20px;
                    margin-top: -4px;
                    font-size: 11px;
                    &:before{
                        content:'\e900';
                        font-size: 11px;
                        color:$colorDefault; 
                    }
                }
            }
            ul{
                display: none;
                position: absolute;
                left: 0;
                top: 50px;
                width: 100%;
                background: #fff;
                border-width:0 1px 1px 1px;
                border-color: $borderColor;
                border-style: solid;
                padding:10px 5px; 
                z-index: 1;
                li{
                    a{
                        display: block;
                        padding: 10px;
                        color: #6a6b69;
                    }
                }
            }
            &.opened{
                ul{  display: block; }
            }
        }
    }
}

/*Member page campaign banner hidden*/
.page-member-layout{
    .campaign-bnr{ display: none; }
}

/*Mobile 1100px*/
@media screen and (max-width: 1100px) {
    .page-member {
        /*Product return grid*/
        .ems-page-member-return-detail{
            .ems-grid-return-list{
                &-items-full{
                    .ems-fnt-bld, .dropdown{ width: 100%; }
                    .ems-fnt-bld{ padding-bottom: 10px; }
                }
            }
        }
    }
}

/*Mobile 960px*/
@media screen and (max-width: $breakpointSM) {

    /*Mobile Hidden control*/
    .mod-mini-fav, .mod-mini-login { display: none; }

    .page-login-layout{
        .site-footer, .campaign-bnr{ display: none; }
    }

    /*Login page*/
    .page-login {
        &-inline{
            background: #fbfbfb;
            padding: 20px;
        }
        .ems-right {
            width: 100%;
            max-width: 100%;
            padding: 0;
            background: #fbfbfb;
        }
        .ems-login, .ems-signup {
            margin: 0;
            max-width: 100%;
            padding: 0;
            &-header {
                color: $lines;
                font-size: 24px;
            }
            .ems-form{
                &-inner{
                    .ems-field{
                        max-width: 100%;
                        input, select, textarea{ background: #fbfbfb; }
                        &.submit {
                            .btn-default{ padding-top: 20px; padding-bottom: 19px; }
                            a.btnYeniUyeKaydet, a.btnLogin{ max-width: 100%; }
                        }
                        &.ems-field-fb{
                            .btn-default{ padding-top: 20px; padding-bottom: 19px; }
                        }
                        &.enter-link {
                            background: $vlightBg;
                            text-align: center;
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
    }

    /*Member page hidden object*/
    .page-member-layout {
        .site-footer,
        .campaign-bnr,
        .mobile-element-bottom-menu{ display: none; }
    }

    /*Page member*/
    .page-member {

        /*Layout*/
        .page-top-title { display: block; }

        &.ems-container{ max-width: 100%; padding: 0; }

        .ems-row-1{
            .ems-col{ display: block; }
            .ems-col.ems-col-1 { width: 100%; position: relative; z-index: 2; }
            .ems-col.ems-col-2{ width: 100%; }
        }

        .page-top-desc { padding:10px 20px 20px; margin-top: 0; }

        .ems-page-default{
            padding-left: 0;
            padding-bottom: 30px;
            .page-left-padding{ padding-right: 20px; }
            .ems-form { padding: 0 20px; }
            .ems-form-inner {
                .ems-field{
                    .ems-form-label { top:5px; }
                    .ems-form-obj{
                        max-width: 100%;
                        input[type=text] { height:60px; line-height: 40px; }
                    }
                    &.check-list{
                        > span{ float: left; }
                        .checkbox-text { padding-top: 5px; width: 90%; }
                    }
                    &.submit{
                        .btn-default{ padding-top: 19px; padding-bottom: 20px; }
                    }
                }
            }
        }
        /*New address*/
        .ems-page-member-address{
            .page-top-title{
                span{ padding-left: 0; }
            }
            .add-new-address .btn-default{ margin-top: 0; }
        }
        /*Order list page*/
        .ems-page-member-order{
            .order-filter{
                margin-bottom: 20px;
                .order-filter-select, .order-filter-button { width: 100%; max-width:100%; }
                .order-filter-select {
                    margin-right: 0;
                }
                .order-filter-select {
                    .sStylerWrp{ height:60px; line-height:30px; }
                }
                .order-filter-button {
                    margin-top: 20px;
                    .btn-default{ padding-top:21px; padding-bottom:21px; }
                }
            }
        }
        /*Order detail page*/
        .ems-page-member-order-detail{
            .order-detail-info {
                padding-bottom: 0;
                > div{ float: none; width: 100%; }
            }
            .order-address {
                &-delivery, &-billing{ float: none; width: 100%; }
                &-billing{ margin-top:30px; }
            }
            .order-detail-info-payment{
                &-summry{ width: 100%; border-left-width: 0; border-right-width: 0; border-bottom-width: 0; }
            }
            .page-top-desc{ padding-top: 20px; }
        }

        /*Gift cart layout*/
        .ems-page-member-order-detail{
            .page-top-title span,
            .page-top-desc{ padding-left: 0; padding-right: 0; }
        }
        /*Password change*/
        .ems-page-member-password-change{
            .page-left-padding{ padding-left: 0; padding-right: 0; }
        }

        /*İade sayfası*/
        .ems-page-member-return-detail{
            .page-left-padding { padding-top:20px; }
            .page-top-title {
                span{ padding: 10px 0 20px 0; }
            }
            .page-sip-desc{
                .page-sip-info, .page-title-sipInfo{
                    width: 100%;
                    margin: 0;
                    min-height: auto;
                    padding-bottom:30px;
                }
                .page-title-sipInfo{ border: none; padding-left: 0; }
            }
            .ems-grid-return-list{
                &-column{ width: 100%; }
                &-column-2{ border-left: 0; }
                &-items-full{
                    .ems-fnt-bld{ display: none; }
                    .ems-fnt-reg{ display: inline-block; vertical-align: middle; }
                    .dropdown { margin-top:10px; margin-bottom:10px; }
                    &:first-child{
                        padding-top: 0;
                        text-align: center;
                        .ems-fnt-bld{ width: inherit; padding-bottom: 0; display: inline-block; }
                    }
                }
            }
            .ems-giving-back{
                border: none;
                padding-bottom: 10px;
                &-row-1{ border: 1px solid $borderColor; }
                &-row-2{ border: none; }
                &-row-2, &-row-3{ padding-left: 0; padding-right: 0; }
                &-row-3{ border-top:1px solid $borderColor; border-bottom:1px solid $borderColor; }

                &-list{
                    .ems-giving-back-row { border:1px solid $borderColor; }
                    .ems-giving-back-row-2 { border:none; }
                    .ems-giving-back-content {padding-top: 30px; }
                    .ems-giving-back-selection{
                        padding-top: 20px;
                        .bld-title{ display: none; }
                        padding-bottom: 10px;
                        width: 100%;
                        float: none;
                        max-width: 100%;
                        clear: both;
                    }
                }
            }
            .ems-giving-back-btns {
                .btn-default{
                    width: 100%;
                    float: none;
                    padding-top: 19px;
                    padding-bottom: 20px;
                    &-continue{ background:$colorDefault; }
                    &-back{ margin-top: 10px; }
                }
            }
        }

    }
}

/*Mobile 610px*/
@media screen and (max-width:$breakpointXS) {

    /*Page member*/
    .page-member{

        /*Address info*/
        .ems-page-member-address{
            .ems-grid-address .ems-grid-row .col-1,
            .ems-grid-address .ems-grid-row .col-2{ width: 100%; }
            .ems-grid-address .ems-grid-row .col-2 { padding-top: 5px; padding-bottom: 15px; }
            .ems-grid-address .ems-grid-row .col-2 .ems-address-buttons { text-align: left; }
        }
    }

}