/*Navigation*/
.ems-page-nav {
    display: inline-block;
    ul.breadcrumb {
        > li {
            display: inline-block;
            vertical-align: top;
            > a {
                padding:6px 5px 6px 0;
                display: inline-block;
                i{
                    display: inline-block;
                    margin-right: 10px;
                    &:before{
                        content: '\e918';
                        color: $colorDefault;
                        font-size: 11px;
                        font-family: 'icomoon';
                    }
                }
            }
            &:first-child{
                > a {
                    padding-left: 0;
                    i{ display: none; }
                }
            }
        }
    }
}

@media screen and (max-width:960px) {
    
}