  /********** visilabs widget **********/
.ems-tab{
    &-featured {
        width: 100%;
        max-width: 1240px;
        margin: 20px auto;
        padding: 0 20px;
        line-height: inherit;
        .featured-logo{
            text-align: center;
            margin: 0 !important;
            li{ display: inline-block; vertical-align: top;  width: 18%; margin: 20px 0 20px 2.5%; }
            li:first-child{ margin-left: 0; }
            &-inline{
                border: 1px solid $borderColor;
                @include transition(all .2s ease);
                a {
                    display:block;
                    min-height:70px;
                    max-height:70px;
                    text-align: center;
                    img{
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
                &:hover {
                    border: 1px solid $lBlue;
                }
            }
        }
        .navigation-js{
            border-bottom: 1px solid $borderColor;
            text-align: left;
            li{
                display: inline-block;
                margin-left: 50px;
                a{
                    padding: 15px 0;
                    border-width: 0 0 3px 0;
                    border-color: #ffffff;
                    border-style: solid;
                    display: inline-block;
                    width: 100%;
                    span{
                        font-family: $fM;
                        font-size: 18px;
                        color: $sText;
                        @include transition (all 0.2s ease);
                    }
                    &:hover {
                        span { color: $dBlue; }
                    }
                }
                &.selected{
                    a{ border-bottom-color: $dBlue; }
                    a span{ color: $dBlue; }
                }
            }
            li:first-child {
                margin-left: 0;
            }
        }
        .ems-tab-inner {
            > .content-js{
                > li{ position: relative; }
                > li > a { display: none; }
                > li {
                    > .content{
                    }
                }
                > li.selected {
                    > .content {
                        img { float: none !important; margin:0 auto; max-width: 210px; width: 100%; }
                    } 
                }
                .featured-all-produtcs {
                    position: absolute;
                    top: -58px;
                    right: 0;
                    a {
                        display: inline-block;
                        padding: 19px 0;
                        @include transition (all 0.2s ease);
                        span, i.icon-ico_arrw {
                            display: inline-block;
                            vertical-align: middle;
                            @include transition (all 0.2s ease);
                        }
                        span{
                            color: $dBlue;
                            font-family: $fM;
                        }
                        i.icon-ico_arrw{
                            margin-left: 10px;
                            &:before{
                                font-size: 14px;
                                color: $dBlue;
                                @include transition (all 0.2s ease);
                            }
                        }
                        &:hover{
                            i.icon-ico_arrw{
                                margin-left: 15px;
                                &:before{
                                    color: $lBlue;
                                }
                            }
                            span { color: $lBlue; }
                        }
                    }
                }
            }
        }
        .ems-prd{
            &-compare{
                > span{ height: 25px; }
            }
        }
    }
    .featured-prd {
        width: 40%;
        border: 1px solid transparent;
        .ems-prd-wrapper {
            position: absolute;
            top: 50%;
            width: 100%;
            @include setTransform(translateY( -50% ));
            padding: 20px;
        }
        .ems-prd-inner {
            padding-bottom: 0;
            border: none;
            &:before{
                display: none;
            }
            > a{
                display: block;
                width: 100%;
                position: relative;
                img{
                    max-width: 100% !important;
                    max-height: 462px;
                }
            }
        }
        .ems-prd-image {
            padding: 0;
            display: inline-block;
            vertical-align: middle;
            width: 40%;
            max-width: 210px;
            img { max-width: 210px; display: inline-block; }
        }
        .ems-prd-content{
            display: inline-block;
            vertical-align: middle;
            width: 60%;
            padding-left: 10px;
        }
        .ems-prd-name{
            font-family: $fM;
            font-size: 30px;
            font-size: calc(10px + 1vw);
            color: $title;
            padding: 0;
            height: inherit;
            overflow: visible;
            text-align: left;
        }
        .ems-prd-description {
            display: block;
            margin-top: 10px;
            color: $title;
            line-height: 25px;
            ul { margin: 0 !important; }
        }
        .ems-prd-price{
            height: inherit;
            padding: 0;
            margin: 20px 0 0 0;
            border-radius: 5px;
            background: $dBlue;
            padding: 10px;
            color: #ffffff;
            font-family: $fM;
            font-size: 30px;
            display: inline-block;
            &:before{
                font-family: $tl;
                content: 't';
                font-size: 23px;
                color: #ffffff;
                display: inline-block;
                margin-right: 3px;
                position: inherit;
                top: inherit;
                left: inherit;
                width: inherit;
            }
            .d {
                font-size: 20px; 
                position: relative;
                top: 4px;
                vertical-align: super;
            }
            span{ }
        }
        .ems-prd-logo {
            display: none;
        }
    }
    .ems-prd {
        width: 20%;
    }      
}