{
  "name": "yargici",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "style.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "style.css",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":true,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    }
  ],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": false,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "style.scss",
      "imports": [
        "Shared/Helpers/Vendor.scss",
        "Base/Variables.scss",
        "Shared/Static/Normalize.scss",
        "Base/Typography.scss",
        "Base/Sprite.scss",
        "Shared/Static/Animate.scss",
        "Shared/Static/Emos.FW.scss",
        "Base/Shared.scss",
        "Components/Buttons.scss",
        "Components/Form.scss",
        "Components/Slider.scss",
        "Components/Tab.scss",
        "Layout/Header.scss",
        "Layout/Footer.scss",
        "Modules/Search.scss",
        "Modules/Member.scss",
        "Modules/Cart.scss",
        "Modules/Navigation.scss",
        "Modules/Product-List.scss",
        "Modules/Category.scss",
        "Modules/Filter.scss",
        "Modules/Product-Detail.scss",
        "Layout/Content.scss",
        "Layout/Service-List.scss",
        "Modules/Popup.scss",
        "Modules/Swiper-Slider.scss",
        "Modules/Widget.scss",
        "Components/Grid.scss",
        "Shared/Helpers/Variables.scss",
        "Shared/Helpers/Mixins.scss",
        "Shared/Helpers/Functions.scss",
        "Shared/Helpers/Colors.scss"
      ]
    },
    {
      "path": "Shared/Helpers/Vendor.scss",
      "imports": [
        "Shared/Helpers/Variables.scss",
        "Shared/Helpers/Mixins.scss",
        "Shared/Helpers/Functions.scss",
        "Shared/Helpers/Colors.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "ftp"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": true,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "/yargici/styles",
    "uploadTimeout": 20000,
    "uploadOnChange": true,
    "ftp": {
      "secure": false,
      "host": "46.20.149.6",
      "port": 21,
      "user": "frontend",
      "password": "frontend2017"
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts",
      ".php",
      ".json",
      ".config",
      "/.gitattributes",
      ".vscode"
    ],
    "history": [
      {
        "file": "footer.php",
        "ctime": "2017-03-07T06:26:44.271Z",
        "mtime": "2017-03-07T06:26:44.271Z",
        "size": 5518
      },
      {
        "file": "header.php",
        "ctime": "2017-03-06T13:55:33.509Z",
        "mtime": "2017-03-06T13:55:33.000Z",
        "size": 25955
      },
      {
        "file": "index.php",
        "ctime": "2017-01-31T12:11:05.535Z",
        "mtime": "2017-01-31T12:11:05.000Z",
        "size": 250
      },
      {
        "file": "style.css",
        "ctime": "2017-03-08T14:37:33.509Z",
        "mtime": "2017-03-08T14:37:33.509Z",
        "size": 315197
      },
      {
        "file": "product-list.php",
        "ctime": "2017-03-08T11:00:26.528Z",
        "mtime": "2017-03-08T11:00:26.000Z",
        "size": 55122
      },
      {
        "file": "style.css.map",
        "ctime": "2017-03-08T14:37:33.503Z",
        "mtime": "2017-03-08T14:37:33.503Z",
        "size": 128999
      },
      {
        "file": "page-detail.php",
        "ctime": "2017-03-02T06:06:22.360Z",
        "mtime": "2017-03-02T06:06:22.000Z",
        "size": 65152
      },
      {
        "file": "npm-debug.log",
        "ctime": "2017-02-09T06:31:41.198Z",
        "mtime": "2017-02-09T06:31:41.196Z",
        "size": 1097
      },
      {
        "file": "product-list-2.php",
        "ctime": "2017-03-08T13:21:50.842Z",
        "mtime": "2017-03-08T13:21:50.842Z",
        "size": 57133
      },
      {
        "file": "page-delivery.php",
        "ctime": "2017-03-08T10:53:21.061Z",
        "mtime": "2017-03-08T10:53:21.000Z",
        "size": 31822
      },
      {
        "file": "page-cart.php",
        "ctime": "2017-03-08T11:49:49.129Z",
        "mtime": "2017-03-08T11:49:49.129Z",
        "size": 35575
      },
      {
        "file": "debug.log",
        "ctime": "2017-02-15T14:58:55.662Z",
        "mtime": "2017-02-15T14:58:55.662Z",
        "size": 620
      },
      {
        "file": "page-login.php",
        "ctime": "2017-03-01T10:25:14.546Z",
        "mtime": "2017-03-01T10:25:14.546Z",
        "size": 7506
      },
      {
        "file": "page-cart-success.php",
        "ctime": "2017-03-03T12:39:29.215Z",
        "mtime": "2017-03-03T12:39:29.000Z",
        "size": 17916
      },
      {
        "file": "page-member.php",
        "ctime": "2017-03-06T07:00:28.528Z",
        "mtime": "2017-03-06T07:00:28.000Z",
        "size": 4523
      },
      {
        "file": "page-member-address.php",
        "ctime": "2017-03-06T11:09:27.082Z",
        "mtime": "2017-03-06T11:09:27.000Z",
        "size": 3971
      },
      {
        "file": "page-member-order-list.php",
        "ctime": "2017-03-07T06:29:39.938Z",
        "mtime": "2017-03-07T06:29:39.938Z",
        "size": 7529
      },
      {
        "file": "page-member-order-detail.php",
        "ctime": "2017-03-06T11:57:07.791Z",
        "mtime": "2017-03-06T11:57:07.000Z",
        "size": 13358
      },
      {
        "file": "page-member-gift-check.php",
        "ctime": "2017-03-06T11:10:51.655Z",
        "mtime": "2017-03-06T11:10:51.000Z",
        "size": 4259
      },
      {
        "file": "page-member-message.php",
        "ctime": "2017-03-06T11:11:25.533Z",
        "mtime": "2017-03-06T11:11:25.533Z",
        "size": 4246
      },
      {
        "file": "page-member-password-forget.php",
        "ctime": "2017-03-06T11:13:04.314Z",
        "mtime": "2017-03-06T11:13:04.000Z",
        "size": 4501
      },
      {
        "file": "page-store.php",
        "ctime": "2017-03-07T12:19:00.631Z",
        "mtime": "2017-03-07T12:19:00.631Z",
        "size": 5350
      },
      {
        "file": "page-about-us.php",
        "ctime": "2017-03-07T12:41:09.285Z",
        "mtime": "2017-03-07T12:41:09.000Z",
        "size": 5009
      },
      {
        "file": "page-sss.php",
        "ctime": "2017-02-21T12:36:50.957Z",
        "mtime": "2017-02-21T12:36:50.000Z",
        "size": 8546
      },
      {
        "file": "page-blog-list.php",
        "ctime": "2017-03-08T06:58:03.847Z",
        "mtime": "2017-03-08T06:58:03.847Z",
        "size": 6317
      },
      {
        "file": "page-blog-detail.php",
        "ctime": "2017-03-08T07:28:59.565Z",
        "mtime": "2017-03-08T07:28:59.565Z",
        "size": 16524
      },
      {
        "file": "page-lookbook.php",
        "ctime": "2017-02-23T06:46:37.292Z",
        "mtime": "2017-02-23T06:46:37.292Z",
        "size": 21496
      },
      {
        "file": "product-list-homeworks.php",
        "ctime": "2017-03-08T11:06:12.477Z",
        "mtime": "2017-03-08T11:06:12.000Z",
        "size": 56561
      },
      {
        "file": "page-home-1.php",
        "ctime": "2017-03-02T05:19:42.430Z",
        "mtime": "2017-03-02T05:19:42.430Z",
        "size": 11385
      },
      {
        "file": "page-home-2.php",
        "ctime": "2017-03-02T05:19:46.714Z",
        "mtime": "2017-03-02T05:19:46.714Z",
        "size": 27794
      },
      {
        "file": "page-home-3.php",
        "ctime": "2017-03-02T06:56:47.519Z",
        "mtime": "2017-03-02T06:56:47.000Z",
        "size": 16152
      },
      {
        "file": "page-home.php",
        "ctime": "2017-03-02T05:20:02.415Z",
        "mtime": "2017-03-02T05:20:02.415Z",
        "size": 29114
      },
      {
        "file": "page-delivery-1.php",
        "ctime": "2017-03-08T10:30:17.721Z",
        "mtime": "2017-03-08T10:30:17.000Z",
        "size": 38553
      },
      {
        "file": "page-delivery-backup.php",
        "ctime": "2017-03-03T07:03:27.901Z",
        "mtime": "2017-03-03T07:03:27.901Z",
        "size": 40644
      },
      {
        "file": "page-cart-warning.php",
        "ctime": "2017-03-03T12:37:31.020Z",
        "mtime": "2017-03-03T12:37:31.020Z",
        "size": 17976
      },
      {
        "file": "page-cart-error.php",
        "ctime": "2017-03-03T12:38:45.671Z",
        "mtime": "2017-03-03T12:38:45.000Z",
        "size": 18003
      },
      {
        "file": "page-member-favorites.php",
        "ctime": "2017-03-06T11:35:28.078Z",
        "mtime": "2017-03-06T11:35:28.078Z",
        "size": 8025
      },
      {
        "file": "page-member-return-detail.php",
        "ctime": "2017-03-08T14:36:01.349Z",
        "mtime": "2017-03-08T14:36:01.349Z",
        "size": 6792
      },
      {
        "file": "page-member-return-list.php",
        "ctime": "2017-03-08T13:55:28.849Z",
        "mtime": "2017-03-08T13:55:28.849Z",
        "size": 8772
      },
      {
        "file": "page-member-return-last.php",
        "ctime": "2017-03-08T14:13:34.891Z",
        "mtime": "2017-03-08T14:13:34.891Z",
        "size": 6687
      },
      {
        "file": "page-gift-card.php",
        "ctime": "2017-03-07T14:24:11.514Z",
        "mtime": "2017-03-07T14:24:11.514Z",
        "size": 3984
      },
      {
        "file": "page-yargici-card.php",
        "ctime": "2017-03-08T12:41:42.193Z",
        "mtime": "2017-03-08T12:41:42.193Z",
        "size": 3845
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true}}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}