.ems-grid-default {
    > div {
        position: relative;
        display: table;
        width: 100%;
        table-layout: fixed;
        > div {
            display: table-cell;
            position: relative;
            vertical-align: middle;
            word-break: break-word;
        }
        .ems-grid-img{
            width: 15%;
        }
        .ems-grid-name {
            width: 30%;
        }
        .ems-grid-piece {
            width: 10%;
            text-align: center;
            .piece-wrapper {
                display: inline-block;
                width: 100%;
                max-width: 50px;
                position: relative;
            }
        }
        .ems-grid-price {
            width: 20%;
            padding-left: 10px !important;
        }
        .ems-grid-price-total {
            width: 20%;
            display: none !important;
        }
        .ems-grid-delete {
            width: 8%;
            text-align: center;
        }
    }
    .ems-grid-header {
        position: relative;
        display: none;
        > div {
            font-family: $fB;
            font-size: 15px;
            color: #888888;
            background: #ffffff;
            padding:5px 0 5px 0;
            text-align: center;
        }
        .ems-grid-img{
            padding-right: 20px;
            text-align: right;
        }
        .ems-grid-name, .ems-grid-delete{
            span{ display: none; }
        }
        &:first-child {
            display: table;
        }
    }
    .ems-grid-row {
        position: relative;
        border-width: 0 1px 0 1px;
        border-style: solid;
        border-color: $borderColor;
        > div {
            font-family: $fD;
            font-size: 14px;
            color: $colorDefault;
            border-width: 1px 0px 0 0;
            border-style: solid;
            border-color: $borderColor;
            padding: 15px 0;
            &.ems-grid-img {
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 10px;
            }
            &.ems-grid-delete {
                a { display:inline-block; padding:5px 10px; }
                a span{ color:$colorDefault; font-size:15px; }
            }
        }
        &:last-child {
            > div {
                border-bottom-width: 1px;
            }
        }
        /*grid items*/
        .ems-grid-img {
            a, img {
                display: block;
            }
        }
        .ems-grid-fav {
            width: 36px;
            height: 36px;
            position: absolute;
            left: 10px;
            top: 100px;
            display: none;
            > a {
                display: block;
                width: 100%;
                height: 100%;
                span {
                    display: block;
                    height: 100%;           
                    i {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        font-size: 19px;
                        color: $lBlue;
                        font-weight: bold;
                        margin-top: -9.5px;
                        margin-left: -9.5px;
                        @include transition(all 0.2s ease);
                    }
                }
                &.selected {
                    i:before {
                        content:"\e90e";
                        color:$red;
                    }
                }
            }
            &:hover {
                i {
                    @include setTransform(scale(1.2));
                }
            }
        }
        .ems-grid-gift-box {
            margin-top: 10px;
            font-size: 13px;
            > a{
                span.cStyler{ width:15px; height:15px; }
                span{ display: inline-block; color: $colorDefault; }
            }
        }
        .ems-grid-piece {
            .piece-wrapper {
                input {
                border: none;
                width: 40px;
                height: 30px;
                text-align: center;
                line-height: 30px;
                padding: 2px 5px 2px 5px;
                color: $colorDefault;
                font-size: 15px;
                background: #fff;
            }
            > a {
                position: absolute;
                color: #ffffff;
                padding: 5px;
                top: 50%;
                margin-top: -15px;
                height: 30px;
                &.minus {
                    left: -30px;
                    i{
                        &:before{
                            content:'';
                            width:10px;
                            height:2px;
                            background:#ccc;
                            display: inline-block;
                        }
                    }
                }
                &.plus {
                    right: -25px;
                    i{
                        &:before{
                            content:'+';
                            font-size: 20px;
                        }
                    }
                }
                i {
                    vertical-align: middle;
                    &:before{
                        color: #ccc;
                        }
                    }
                }
            }
        }
    }
}

/*grid custom cart*/
.ems-grid-cart {
    .ems-grid-row {
        .ems-grid-name {
            padding-left:10px;
            padding-right: 10px;
            padding-top: 25px;
            > br { display: none; }
            > a, > a span{
                font-family: $fD;
                font-size: 15px;
                color: $colorDefault;
            }
            > a{
                max-height: 50px;
                min-height: 50px;
                overflow: hidden;
                display: block;
            }
            .ems-grid-size{
                span{
                    font-family: $fB;
                    font-size: 15px;
                    color: $colorDefault;
                }
            }
            .ems-grid-code {
                display: none;
            }
        }
        .ems-grid-img {
            a, img {
                max-width: 130px;
            }
            img {
                width: 100%;
            }
        }
        .ems-grid-price, .ems-grid-price-total{
            text-align: center;
            span {
                font-size: 15px;
                font-size: calc(9px + 0.3vw);
                line-height: 1;
                color: $colorDefault;
            }
        }
    }
}

/*stok*/
.gridSepetStok {
    margin: 30px 0 50px 0;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    th {
        text-align: center;
        padding: 10px 5px;
        font-family: $fD;
        color: $sText;
        font-size: 12px;
        font-weight: normal;
        &:nth-child(2) {
            display: none;
        }
    }
    td {
        text-align: center;
        padding: 10px 5px;
        border-width: 1px 0px 1px 0px;
        border-style: solid;
        border-color: $borderColor;
        font-size: 14px;
        color: $title;
        &:first-child{
            border-left-width: 1px;
        }
        &:last-child{
            border-right-width: 1px;
        }
    }
}

/*grid types td border yok*/
.ems-grid-cart {
    .ems-grid-row {
        > div {
            border-left: none;
            border-right: none;
        }
    }
}

/*her td 'de bottom border var, ayrı tr 'ler*/
.ems-grid-address {
    .ems-grid-row {
        margin-bottom: 20px;
        > div {
            border-right-width: 0;
            border-bottom-width: 1px;
        }
    }
}


.ems-grid-favorites, .ems-grid-follow-price, .ems-grid-follow-stock {
	.ems-grid-header {
		> div {
		
			&.ems-grid-remove {
                width:7%; 
            }
            &.ems-grid-img { 
                width:12%;  
            }
            &.ems-grid-code {
                width:12%;
            }
            &.ems-grid-piece {
                width:12%;
            }
            &.ems-grid-price {
                width:12%;
            }
            &.ems-grid-date {
                width:15%;
            }
		
		}
	}
	 .ems-grid-row {
		> div {
            padding:10px;
            vertical-align: middle;
			&.ems-grid-remove {
                width:7%; 
            }
            &.ems-grid-img { 
                width:12%;  
            }
            &.ems-grid-code {
                width:12%;
            }
            &.ems-grid-piece {
                width:12%;
            }
            &.ems-grid-price {
                width:12%;
            }
            &.ems-grid-date {
                width:15%;
            }
		}
	 }
}

/*Grid order list*/
.ems-grid-order{
    .ems-grid-header{
        > div{
            padding: 16px 0;
            border-width: 1px 1px 0 0;
            border-style: solid;
            border-color: $borderColor;
            &:first-child{
                border-left-width: 1px;
            }
        }
    }
    .ems-grid-row{
        border-left-width: 0;
        > div{
            color: $colorDefault;
            font-size: 15px;
            border-left-width: 1px;
        }
    }
}

/*Order detail cart grid*/
.ems-grid-order-products, .ems-grid-favorites, .ems-grid-order-gift, .ems-grid-order-message{
    .ems-grid-header, .ems-grid-row{
        > div{  
            width: auto !important;
        }
    }
    .ems-grid-header{
        > div{
            border-width: 1px 1px 0 0;
            border-color: $borderColor;
            border-style: solid;
            padding: 15px 0;
            &:first-child{
                border-left-width: 1px;
            }   
        }
        .ems-grid-img{
            padding-right: 0;
            text-align: center;
        }
        .ems-grid-name{
            span{ display: inline-block; }
        }
    }
    .ems-grid-row{
        border-left-width: 0;
        > div{
            padding: 25px 0;
            border-left-width: 1px;
            text-align: center;
        }
    }
}
.order-detail-info-payment{
    text-align: right;
    &-summry{
        width: 305px;
        border-width: 0 1px 1px 1px;
        border-style:solid;
        border-color: $borderColor;
        display: inline-block;
        vertical-align: top;
        padding: 20px;
    }
    &-row{
        display: table;
        width: 100%;
        > div{
            padding: 5px;
            display: table-cell;
            vertical-align: top;
        }
        .text{
            text-align: left;
            font-family: $fB;
        }
        .value{
            text-align: right;
        }
    }
}

 /*Favorites*/
.ems-grid-favorites {
    .ems-grid-header, .ems-grid-row {
        > div{
            &.col-7{ width: 7%; }
        }
    }
    .ems-grid-row {
        > div{
            padding-top: 0;
            padding-bottom: 0;
            .btn-color{
                display: inline-block;
                img{
                    max-width: 25px;
                }
            }
            .btn-link {
                font-family: $fD;
            }
            .btn-default{
                &-delete{
                    background: #fff;
                    padding: 5px;
                    i{
                        &:before{
                            color: $colorDefault;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}

/*Gift check*/
.ems-grid-order-gift, .ems-grid-order-message{
    margin-top: 40px;
    &:empty{
        display: none;
    }    
}

.page-bottom-share{
    text-align: center;
    a.btn-default{ min-width: 185px; margin-top: 50px; margin-bottom: 10px; }
}

/*Full grid content align center*/
.ems-grid-favorites, .ems-grid-order, .ems-grid-order-products, .ems-grid-message {
    .ems-grid-header > div, .ems-grid-row > div{
        text-align: center;
    }
}

/*New address*/
.ems-grid-address {
    margin-bottom: 20px;
    .ems-grid-row {
        &.selected {
            background: $vlightBg;
        }
        > div {
            padding: 20px;
        }
        .col-1 {
            width: 60%;
        }
        .col-2 {
            width: 30%;
            padding-left: 0;
            padding-right: 10px;
            text-align: right;
        }
    }
}


/*Mobile grid 960px*/
@media screen and (max-width: $breakpointSM) {
    
    /*page cart*/
    .ems-grid-cart {
        > div {
            > div {
                display: inline-block;
                vertical-align: middle;
            }
        }
        .ems-grid-header, .ems-grid-header:first-child{ display: none; }
        .ems-grid-row {
            border-top: 1px solid $borderColor;
            border-left-width: 0;
            border-right-width: 0;
            > div {
                border: none;
                padding-bottom: 20px;
                padding-top: 10px;
            }
            .ems-grid-img {
                float: left;
                width: 20%;
                padding-top: 20px !important;
                padding-bottom: 20px !important;
                padding-right: 0;
                padding-left: 0 !important;
                img {
                    max-width: 100%;
                }
            }
            .ems-grid-name {
                width: 80%;
                padding: 30px 50px 0 20px;
                text-align: left;
                > a{
                    max-height: 40px; min-height: 40px;
                }
            }
            .ems-grid-size {
                padding-top: 5px;
            }
            .ems-grid-piece {
                width: 42.5%;
                text-align: left;
                padding-left: 50px;
            }
            .ems-grid-price {
                width: 37.5%;
                text-align: right;
                padding-right: 10px;
                span{ font-size: 15px; }
            } 
            .ems-grid-price-total {
                position: static;
                width: 30%;
                text-align: center;
                > * {
                    display: block;
                }
            }
            .ems-grid-delete {
                position: absolute;
                right: 0;
                top: 5px;
                width: 30px;
                text-align: center;
                padding-bottom: 10px;
                a {
                    @include setTransform(rotate(0));
                    background: none !important;
                    border-radius: 0;
                    span{ display: none; }
                    i {
                        font-size: 12px;
                        &:before{ color: $colorDefault; font-size: 12px; }
                    }
                }
                a:hover, a:focus{ @include setTransform(rotate(90deg)); }
            }
            .ems-grid-gift-box { display: none; }
        }
    }


    /*Cart Adress*/
    .page-cart {
        .ems-grid-address {
            .ems-grid-row {
                .ems-address-buttons {
                    &.item-2 {
                        > a:first-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }

    /*responsive grid table*/
    .site-content {
        .ems-grid-order, .ems-grid-order-products, .ems-grid-favorites, .ems-grid-order-gift, .ems-grid-order-message {
            > div {
                display: inline-block;
                vertical-align: top;
                width: 50%;
                margin-top: 15px;
                &:nth-child(1), &:nth-child(2) {margin-top: 0;}
                > div {
                    display: block;
                    padding: 10px 15px;
                    font-size: 16px;
                    text-align: left;
                    overflow: hidden;
                    height: 60px;
                    line-height: 40px;
                    &:empty, & > *:empty {
                        &:before {
                            content: "-";
                        } 
                    }
                    span {
                        font-size: 15px;
                        font-weight: normal;
                    }
                }
                .ems-grid-img, .col-img{ height: 100px; line-height: 100px; text-align: left; }
            }

            .ems-grid-header {
                border-left: 1px solid $borderColor; 
                border-bottom: 1px solid $borderColor;
                border-top: 1px solid $borderColor;
                width: 50%;
                float: left;
                > div {
                    width: 100%;
                    border-top-width: 0;
                    &:first-child { border-left-width: 0; border-top-width:0; }
                    &:last-child{ border-bottom-width:0; }
                    font-family: $fB; 
                }
            }

            .ems-grid-row {
                width:calc(100% - 50%);
                border-bottom: 1px solid $borderColor;
                border-top: 1px solid $borderColor;
                > div {
                    width: 100%;
                    border-left-width:0; 
                    font-family: $fD;
                    &:first-child {
                        border-left-width: 0;
                        border-top-width: 0;
                    }
                    .btn-link{ line-height: 1; }
                    .grid-link { padding: 0; line-height: 1; }
                    .btn-color {padding: 10px 0; }
                }
                &:last-child > div {
                    border-bottom-width: 0;
                }
                .col-img {
                    a{ display: inline-block; }
                    img { max-width: 100px; }
                }
                .col-color{                    
                    a img{ width: 25px; }
                }
            }
        }
    }
    /*Favorites grid*/
    .ems-grid-favorites{
        .ems-grid-header{
            .col.col-7 { display: none; }
        }
        .ems-grid-row {
            .col.col-7 {
                position: absolute;
                top: 30px;
                z-index: 1;
                right: 20px;
                width: auto;
                padding: 5px;
                height: 45px;
                border:none;
                .btn-default {
                    line-height:1;
                    .icon-ico_close{
                        font-size: 20px;
                        &:before{ font-size: 20px; }
                    }
                }
            }
        }
    }
    /*Gift cart grid*/
    .ems-grid-order-gift{ margin-top: 10px; }

}

/*Mobile grid 480px*/
@media screen and (max-width: $breakpointXXS) {
    .ems-grid-cart {
        .ems-grid-row {
            .ems-grid-piece{ padding-left: 50px; }
        }
    }
}