// General Definations
$baseHref: ''; 
//$baseHref: './';

// Typography
$fD: "regular";
$fM: "medium";
$fB: "bold";
$dD: "didot";
$tl: "tl";

//font size
$fontSizeDefault: 15px;

// Fonts Colors
$colorDefault: #757674;
$title: #242424;
$text: #757674;
$sText: #000000;
$lines: #4a4a4a;
$lightBg: #f5f5f5;
$vlightBg: #d8d8d8;

// Color
$dBlue: #314181;
$lBlue: #2196f3;
$green: #74aa36;
$hGreen: #2cc66f;
$dGreen:#12ac56;
$red:#D04656;
$dRed:#761111;
$gold:#ff8f00;
$borderColor:#d8d8d8;

// Layout
$siteContainerWidth: 1240px;
$productSliderWidth: 1320px;
$siteContainerWidthFull: 100%;
$singleOuter: 1.6rem;

//old Font
$fontDefault:'dd';
$fontSite:'dd';
$fontSiteReg:'dd';
$fontSiteBold:'dd';

//Old Colors
$colorRed: #ED1C24;
$colorRedDark: #D01219;
$marineBlue: #002b5c;
$lightBlue:#0262b7;